APP_PORT=5173
STORYBOOK_PORT=6006

VITE_API_SYMFONY_BASE_URL=
VITE_API_CRAFT_BASE_URL=
VITE_API_BASE_URL=
VITE_ANALYTICS_ENDPOINT=
VITE_ANALYTICS_GTM_ID=
VITE_CHARGEBEE_API_SITE=
VITE_CHARGEBEE_PUBLISHABLE_KEY=
VITE_CHARGEBEE_RETENTION_APP_ID=
VITE_GOOGLE_MAPS_API_KEY=
VITE_NGROK_DOMAIN=
VITE_POSTHOG_API_KEY=
VITE_PROJECT=
VITE_SENTRY_AUTH_TOKEN=
VITE_SENTRY_ENVIRONMENT=
VITE_SENTRY_DSN=
VITE_SENTRY_URL=
VITE_SENTRY_ORG=
VITE_ZENDESK_KEY=
