@font-face {
  font-family: 'Neue Haas Grotesk Text';
  font-weight: 400;
  font-style: normal;
  src: url('/public/fonts/NeueHaasGroteskText-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  font-weight: 500;
  font-style: normal;
  src: url('/public/fonts/NeueHaasGroteskText-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  font-weight: 700;
  font-style: normal;
  src: url('/public/fonts/NeueHaasGroteskText-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  font-weight: 400;
  font-style: normal;
  src: url('/public/fonts/NeueHaasGroteskDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Reckless';
  font-weight: 400;
  font-style: normal;
  src: url('/public/fonts/Reckless-Regular.woff2') format('woff2');
}
